.nav-icon{
    margin-bottom: 1.9rem;
    i{
        color: #ECD9D9;
    }
    a{
        margin-inline:2.5rem;
    }
    
}
footer{
    p{
        font-size: 1.2rem;
        line-height: 4.1rem;
        letter-spacing: -0.17px;
    }
}



