.hero{
    padding: 100px 0;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    margin-bottom: 50px;
    @media(min-width:992px){
        padding: 180px 200px;
        margin-bottom: 75px;
    }
    @media(min-width:1200px){
        padding: 200px 350px;
       
    }
  
}


h2{
    font-size: 4rem;
    line-height: 6.4rem;
    letter-spacing: 1.5rem;
    text-align: center;
    color: $white;
    height: auto;
    @media(min-width:992px){
        font-size: 6rem;
        letter-spacing: 2rem;
        line-height: 8.4rem;
    }
    
}